body{
    margin: 0;
}
.container{
    background-color: white;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.grey{
    background-color: gray;
}
.orange{
    background-color: orange;
}
.lightyellow{
    background-color: lightyellow;
}
.header{
    background-color: black;
    margin: 10px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subheader{
    margin: 10px auto;
    height: 36%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub-subheader1{
    margin: auto;
    height: 38%;
    width: 13%;
}
.sub-subheader2{
    margin: auto;
    height: 38%;
    width: 60%;
}
.sub-subheader3{
    margin: auto;
    height: 38%;
    width: 95%;
}


.content{
    background-color: black;
    margin: 10px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontent1{
    margin: auto 2%;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.subcontainer{
    margin-top: 0.5%;
    height: 18%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontent2{
    margin: auto 2%;
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.sub-subcontent1{
    margin-top: 8%;
    height: 14%;
    width: 85%;
}
.sub-subcontent2{
    height: 80%;
    width: 48%;
}
.sub-subcontent3{
    margin-top: 0.5%;
    height: 16%;
    width: 88%;
}


.footer{
    background-color: black;
    margin: 10px;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subfooter{
    margin: auto;
    height: 50%;
    width: 95%;
}


@media only screen and (min-width:321px) and (max-width:768px){
    .header{
        margin: 10px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subheader{
        margin: 6px auto;
        height: 40%;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .sub-subheader1{
        margin: auto;
        height: 30px;
        width: 16%;
    }
    .sub-subheader2{
        margin: auto;
        height: 30px;
        width: 50%;
    }
    .sub-subheader3{
        margin: auto;
        height: 30px;
        width: 92%;
    }
    .content{
        height: 370px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .subcontent1{
        margin: 12px auto;
        height: 200px;
        width: 95%;
    }
    .subcontainer{
        margin-top: 10px;
        height: 30px;
        width: 95%;
        justify-content: space-between;
    }
    .sub-subcontent2{
        margin-top: 10px;
        height: 100%;
    }
    .sub-subcontent3{
        margin-top: 10px;
        height: 30px;
        width: 95%;
    }
    .subcontent2{
        margin: 8px auto;
        height: 120px;
        width: 95%;
    }
    .sub-subcontent1{
        margin-top: 16px;
        margin-bottom: 10px;
        height: 30px;
        width: 95%;
    }
    .footer{
        margin: 10px;
        height: 16%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .subfooter{
        margin: auto;
        height: 55%;
        width: 95%;
    }
    
}





