body{
    margin: 0;
    max-width: 1200px;
    font-family: sans-serif;
}
.container-all{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.header{
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center
    
}
.head-txt{
    height: 30%;
    opacity: 0.6;
    padding-top: 20px;
    margin: 0px 5%;
    color: #f08080;
    background-color: #d8d7d7;
}

.content-left{
    background-color: #d8d7d7;
    grid-row: 2;
    grid-column-start: auto;
    grid-column-end: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 10%;
    grid-gap: 5px;
}
.box{
    background-color: white;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 5px;
}
.pic{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
.banner{
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    color: white;
    background-color: #f08080;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.txt{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px 5px;
    font-size: 70%;
    columns: 50px 2;
}
.more{
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px 5px;
    font-size: 70%;
    color: #adacac;
}
.text-bottom{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: auto;
    font-size: 70%;
    padding-bottom: 5px;
}
.content-right{
    background-color: #d8d7d7;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-row: 2;
    grid-column-start: auto;
    grid-column-end: auto;
    text-align: center;
    font-size: 70%;
}
.footer{
    background-color: #f5f1f1;
    border-left: 5px solid #d8d7d7;
    border-right: 5px solid #d8d7d7;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
}