body {
    max-width: 1200px;
    margin: 0;
    font-family: sans-serif;
}

.container-all {
    background-color: white;
    padding-left: 5%;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.header {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 10px;
    padding-left: 20px;
    animation: appear 1.5s ease-in;
}
@keyframes appear{
    from{
        opacity: 0;
    }
}

.no-dots {
    list-style-type: none;
    margin-right: 20px;
}

.top-menu {
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.top-menu a {
    float: top;
    color: gray;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 17px;
}

.icon-menu {
    padding-right: 10px;
}

.top-menu a:hover {
    background-color: #ddd;
    color: black;
}

.social {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.icon {
    padding-top: 25px;
    padding-left: 20px;
}

.head-txt {
    height: 30%;
    opacity: 0.7;
    padding-top: 20px;
    margin: 0px 5%;
    color: salmon;
    background-color: #d8d7d7;
    font-size: 120%;
    animation: appearDown 1s ease-in;
    
}
@keyframes appearDown{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}

.content-left {
    background-color: #d8d7d7;
    grid-row: 2;
    grid-column-start: auto;
    grid-column-end: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 10%;
    grid-gap: 5px;
}

.box {
    background-color: white;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 5px;
    grid-gap: 3px;
    
}
#box1{
    animation: moveRight 1.5s;
}
#box2{
    animation: moveRight 1s;
}
#box3{
    animation: moveRight 1.5s;
}
#box4{
    animation: moveRight 1s;
}
@keyframes moveRight{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
}

.pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#pic1 {
    background-image: url("images/sakura.jpg");
}

#pic2 {
    background-image: url("images/comida.jpg");
}

#pic3 {
    background-image: url("images/fuji.jpg");
}

#pic4 {
    background-image: url("images/noche.jpg");
}

.banner {
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    color: white;
    background-color: #f08080;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.txt {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px 5px;
    font-size: 70%;
    columns: 50px 2;
}

.more {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px 5px;
    font-size: 70%;
    color: #adacac;
}

.text-bottom {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: auto;
    font-size: 70%;
    padding-bottom: 5px;
}

.content-right {
    background-color: #d8d7d7;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-row: 2;
    grid-column-start: auto;
    grid-column-end: auto;
    text-align: center;
    font-size: 70%;
}

.footer {
    background-color: #f5f1f1;
    border-left: 5px solid #d8d7d7;
    border-right: 5px solid #d8d7d7;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 769px) {
    #hamburger-menu {
        display: none !important;
    }

    #hamburger-input {
        display: none !important;
    }
}

@media only screen and (min-width:321px) and (max-width:768px) {
    .top-menu {
        display: none !important;
    }

    #hamburger-input {
        display: none !important;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        left: 0;
    }
    #hamburger-menu {
        width: 20px;
        height: 20px;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0px;
        margin: 20px;
        background: linear-gradient(to bottom,
                salmon, salmon 20%,
                white 20%, white 40%,
                salmon 40%, salmon 60%,
                white 60%, white 80%,
                salmon 80%, salmon 100%);
    }

    #hamburger-menu #sidebar-menu {

        visibility: hidden;
        position: fixed;
        top: 0;
        width: 150px;
        height: 100%;
        background-color: gray;
        box-sizing: border-box;
        color: white;
        display: block;
    }

    #sidebar-menu a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    #sidebar-menu a:hover {
        text-decoration: underline;
    }

    .logo {
        padding-top: 10px;
        padding-left: 50px;
    }

    .head-txt {
        height: 30%;
        opacity: 0.7;
        margin-left: 50%;
        margin-right: 0;
        color: salmon;
        background-color: #d8d7d7;
        font-size: 110%;
    }
    
    .content-left {
        background-color: #d8d7d7;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 10%;
        grid-gap: 5px;
    }

    .content-right {
        background-color: #d8d7d7;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-size: 70%;
    }

    .footer {
        background-color: #f5f1f1;
        border-left: 5px solid #d8d7d7;
        border-right: 5px solid #d8d7d7;
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width:320px) {
    .top-menu {
        display: none !important;
    }
#hamburger-input {
        display: none !important;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        left: 0;
    }

    #hamburger-menu {
        width: 20px;
        height: 20px;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0px;
        margin: 20px;
        background: linear-gradient(to bottom,
                salmon, salmon 20%,
                white 20%, white 40%,
                salmon 40%, salmon 60%,
                white 60%, white 80%,
                salmon 80%, salmon 100%);
    }

    #hamburger-menu #sidebar-menu {

        visibility: hidden;
        position: fixed;
        top: 0;
        width: 140px;
        height: 100%;
        background-color: gray;
        box-sizing: border-box;
        color: white;
        display: block;
    }

    #sidebar-menu a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    #sidebar-menu a:hover {
        text-decoration: underline;
    }
    .logo {
        padding-top: 10px;
        padding-left: 50px;
    }

    .head-txt {
        height: 40%;
        opacity: 0.7;
        margin-left: 50%;
        margin-right: 0;
        color: salmon;
        background-color: #d8d7d7;
        font-size: 100%;
    }

    .content-left {
        background-color: #d8d7d7;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
    }

    .content-right {
        background-color: #d8d7d7;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-size: 70%;
    }

    .footer {
        background-color: #f5f1f1;
        border-left: 5px solid #d8d7d7;
        border-right: 5px solid #d8d7d7;
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}